.Gif-link {
  border: 3px solid #eee;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-decoration: none;
}

.Gif-link img {
  height: 250px;
  object-fit: cover;
}
