.Gif {
  position: relative;
}

.Gif-fav {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  z-index: 1;
}

.Gif-link {
  display: block;
  position: relative;
}

.Gif-link span {
  position: absolute;
  font-size: 0.875rem;
  top: 0;
  left: 0;
}

.Gif-link img {
  width: 100%;
}
