.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1em;
}

button {
  background-color: lightgreen;
  color: white;
  font-size: 20px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

a {
  color: #09f;
  font-size: 1.5rem;
}
